@model BankApp_Models.Transactie

@{
    ViewData["Title"] = "Transactie Details";
}

<h1>Transactie Details</h1>

<div>
    <h4>Wachtende Transactie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Van IBAN
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VanIban)
        </dd>
        <dt class="col-sm-2">
            Naar IBAN
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NaarIban)
        </dd>
        <dt class="col-sm-2">
            Bedrag
        </dt>
        <dd class="col-sm-10">
            €@Html.DisplayFor(model => model.Bedrag)
        </dd>
        <dt class="col-sm-2">
            Gebruiker
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gebruiker.Email)
        </dd>
        @if (Model.Gebruiker.Adres != null)
        {
            <dt class="col-sm-2">
                Adres
            </dt>
            <dd class="col-sm-10">
                @Model.Gebruiker.Adres.Straat @Model.Gebruiker.Adres.Huisnummer, @Model.Gebruiker.Adres.Postcode @Model.Gebruiker.Adres.Gemeente
            </dd>
        }
    </dl>
</div>

<div>
    <form asp-action="Bevestig" method="post" class="d-inline">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="btn btn-success">Bevestigen</button>
    </form>
    
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#afwijsModal">Afwijzen</button>
    
    <a asp-action="Index" class="btn btn-secondary">Terug</a>
</div>

<!-- Afwijs Modal -->
<div class="modal fade" id="afwijsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Transactie Afwijzen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form asp-action="Afwijs" method="post">
                <div class="modal-body">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <div class="form-group">
                        <label for="reden">Reden voor afwijzing:</label>
                        <textarea name="reden" class="form-control" rows="3" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleren</button>
                    <button type="submit" class="btn btn-danger">Afwijzen</button>
                </div>
            </form>
        </div>
    </div>
</div>
